<div class="row m-5">
    <div class="col-1"></div>
    <div class=" col-5">
        <table>
            <tr class="bg-danger">
                <th class="col-1">
                    العدد
                </th>
                <th class="col-2">
                    حساب المؤسسة
                </th>
                <th class="col-1">
                    تاريخ العملية </th>
                <th class="col-2">
                    المبلغ الكلي </th>
            </tr>
            <tr class="bg-secondary">
                <td>
                    <%= reportHeader.personCount %>
                </td>
                <td>
                    <%= reportHeader.ccp %>
                </td>
                <td>
                    <%= reportHeader.date%>
                </td>
                <td>
                    <%= reportHeader.totalAmount %>
                </td>
            </tr>
        </table>
        <div class="row"></div>
        <table>
            <thead>
                <tr class="bg-success">
                    <th scope="col" class="col-1">No </th>
                    <th scope="col" class="col-3">Nom </th>
                    <th scope="col" class="col-2">CCP</th>
                    <th scope="col" class="col-2">Montant </th>
                </tr>
            </thead>
            <tbody>

                <% reportList.forEach((element,index)=> { %>
                    <tr>
                        <td>
                            <%= index+1 %>
                        </td>
                        <td>
                            <%= element.name %>
                        </td>
                        <td>
                            <%= element.ccp %>
                        </td>
                        <td>
                            <%= element.amount %>
                        </td>
                    </tr>


                    <% }) %>

            </tbody>
        </table>
    </div>
    <div class="col-3">
        <a href="/generate/?id=<%= id %>" class="btn btn-outline-info">تحميل</a>
    </div>
</div>